#!/bin/bash

rsync --rsync-path="sudo rsync" -avzrp -e "ssh -o StrictHostKeyChecking=no -i /tmp/uberinfra" /tmp/template-output/backend_mysql.sh ubuntu@"${private-ip}":/tmp/
rsync --rsync-path="sudo rsync" -avzrp -e "ssh -o StrictHostKeyChecking=no -i /tmp/uberinfra" /tmp/template-output/blog.timetrav.online.conf ubuntu@"${private-ip2}":/etc/nginx/sites-enabled/
rsync --rsync-path="sudo rsync" -avzrp -e "ssh -o StrictHostKeyChecking=no -i /tmp/uberinfra" /tmp/template-output/wp-config.php ubuntu@"${private-ip2}":/var/www/html/
sshpass ssh -i /tmp/uberinfra -o StrictHostKeyChecking=no -T ubuntu@"${private-ip}" 'sudo apt-get install mariadb-server -y ; chmod +x /tmp/backend_mysql.sh ; sh  /tmp/backend_mysql.sh'
sshpass ssh -i /tmp/uberinfra -o StrictHostKeyChecking=no -T ubuntu@"${private-ip2}" 'sudo systemctl restart nginx ; sudo systemctl restart php7.4-fpm'
